
.rcmContainer .RcmImageWithThumbnails {
    position: relative;
  /*  border: 1px solid #CCC; */
    padding: 0px;
}


.RcmImageWithThumbnails  .rcmImageWithThumbnails_mainImage {
    position: relative;
}

.RcmImageWithThumbnails  .rcmImageWithThumbnails_thumb {
    position: relative;
    float: left;
    padding-right: 10px;
    border: 1px solid #CCC;

}