
.rcmContainer .RcmImageWithThumbnails {
    position: relative;
  /*  border: 1px solid #CCC; */
    padding: 0px;
}

.RcmImageWithThumbnails .selected{
    border:1px #999 solid;
}

.RcmImageWithThumbnails .thumb{
   /* float:left; */
    margin-right:10px;
    margin-top:10px;
}

.RcmImageWithThumbnails  ul.imgThumbs  li {
    list-style-type: none;
    display: inline-block;

}
