/* General */
.rcmPluginLocked {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 8 */
    filter: alpha(opacity=30); /* IE 5-7 */
    -moz-opacity: 0.3; /* Netscape */
    -khtml-opacity: 0.3; /* Safari 1.x */
    opacity: 0.3;
}

.rcmContainer {
    width: 100%;
    min-height: 30px;
}


/* Admin Screen Jquery Helpers */
.RcmErrorInputHightlight {
    background-color: #FF0000;
}

.RcmOkInputHightlight {
    background-color: #d6e9c6;
}

.rcmBlockUi {
    color: white;
    font-size: 70px;
}


/*  Tiny MCE */
.defaultSkin td.mceToolbar {
    background-color: transparent !important;
}

.defaultSkin .mceButton, .defaultSkin table.mceLayout tr.mceFirst td,
.defaultSkin table.mceLayout tr.mceLast td, .defaultSkin table.mceLayout {
    border: none !important;
}

/* Unknown */
.adminAddButton {
    background-color: green;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    font-size: 24px;
    height: 20px;
    line-height: 16px;
    margin-left: 5px;
    margin-top: 15px;
    cursor: pointer;
    float: left;
}
