.rcmAdminPanelWrapper {
    background-color: #FFFFFF;
    border-bottom: 1px solid #00A3E6;
    width: 100%;
    position: relative;
    z-index: 1030;
    height: 20px;
}

.rcmAdminPanelWrapper div.rcmPanelRightButtons{
    float: right;
    padding-right: 1em;
}
/*.rcmAdminPanelWrapper div.rcmPanelRightButtons button{*/
    /*padding: 1px;*/
    /*font-size: 10px;*/
/*}*/

.modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.modal-dialog {
    width: auto !important;
    max-width: 800px;
}
/* fixes the bug in bootstrap form-control input, width was wider in FF than it appears in Chrome */
@-moz-document url-prefix() {
.form-control  {
 width: 96%;
}
}

/*.modal-content {*/
/*min-height: 300px;*/
/*padding-left: 15px;*/
/*padding-top: 15px;*/
/*width: 100%;*/
/*border: 3px solid #000000;*/
/*}*/