.rcmPluginLocked {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 8 */
    filter: alpha(opacity=30); /* IE 5-7 */
    -moz-opacity: 0.3; /* Netscape */
    -khtml-opacity: 0.3; /* Safari 1.x */
    opacity: 0.3;
}

.rcmAdminPanelWrapper {
    width: 100%;
    z-index: 1000;
    position: relative;
    height: 10em;
}

@media screen and (min-width: 666px) {
    .rcmAdminPanelWrapper {
        height: 8em;
    }
}

@media screen and (min-width: 1200px) {
    .rcmAdminPanelWrapper {
        height: 6em;
    }
}



.rcmAdminPanelWrapper .rcmAdminPanelFixed {
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.10);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.10);
    width: 100%;
    z-index: 1000;
}


.rcmAdminPanelWrapper .rcmAdminPanelShadow {
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -5px;
    z-index: 500;
    display: none;
}

.rcmAdminPanelNav {
    background-color: #FFFFFF;
    border-bottom: 1px solid #00A3E6;
    width: 100%;
    position: relative;
    z-index: 1030;
    font-size: 11px;
}

.rcmAdminPanelNav div.rcmPanelRightButtons {
    float: right;
    padding: 2px 2em 2px 2px;
}

div.rcmPanelEditorToolbar {
    float: left;
    padding: 0px;
    position: relative;
    width: 100%;
    z-index: 1020;
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.modal-dialog {
    width: auto !important;
    max-width: 800px;
}

/* fixes the bug in bootstrap form-control input, width was wider in FF than it appears in Chrome */
@-moz-document url-prefix() {
    .form-control {
        width: 96%;
    }
}

.form-control {
    padding: 0;
}

.availablePluginsMenu img{
    height: 40px;
    width: 40px;
    margin-right: 1em;
}

.availablePluginsMenu{
    width: 250px;
    position:fixed;
    z-index: 1000;
}

.availablePluginsMenu #availablePluginsGroup{
    overflow-y: scroll;
    max-height: 600px;
}

.availablePluginsMenu h1.panel-heading{
    cursor: move;
}
