<html>
<head>
    <script type="text/javascript"
            src="/modules/rcm-angular-js/angular-ui/bootstrap/ui-bootstrap-0.11.0.min.js"></script>
    <script type="text/javascript"
            src="/modules/rcm-tinymce-js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript"
            src="/modules/rcm-js-lib/rcm-html-editor/rcm-html-editor.js"></script>
    <!--<script src="/modules/rcm-angular-js/angular-base64/angular-base64.js"></script>-->
    <script type="text/javascript"
            src="/modules/rcm-i18n/locales.js"></script>
    <link href="/modules/rcm-i18n/styles.css"
          media="screen"
          rel="stylesheet" type="text/css">
</head>
<body>
<div ng-controller="rcmTranslations" class="modal-dialog">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel">Translations</h2>
        </div>
        <div class="modal-body">
            <form style="margin:2em;">
                <label>
                    <select class="form-control" ng-model="selectedLocale"
                            ng-options="locale for locale in locales"
                            ng-change="OpenLocale()"
                            ng-disabled="loading || rcmHtmlEditorState.toolbarLoading">
                        <option value="">
                            Please select language
                        </option>
                    </select>
                </label>
                <label style="float:right;width:20em" class="input-group">
                    <input ng-model="messageQuery"
                           ng-disabled="loading || rcmHtmlEditorState.toolbarLoading"
                           class="form-control"/>
        <span class="input-group-addon glyphicon glyphicon-search"
              style="position:static"></span>
                </label>

                <div class="loadBar">
                    <div>
                        <i class="glyphicon glyphicon-refresh loading"
                           ng-class="{'active': loading || rcmHtmlEditorState.toolbarLoading}"></i>
                    </div>
                </div>
                <table id="transMesages"
                       ng-hide="loading || rcmHtmlEditorState.toolbarLoading"
                       class="table panel panel-default">
                    <tr>
                        <th style="width:50%">
                            Default Message
                        </th>
                        <th>
                            Translated Message
                        </th>
                    </tr>
                    <tr ng-repeat="message in messages | filter:messageQuery">
                        <td>
                            {{message.defaultText}}
                        </td>
                        <td>
                            <div id="htmlEditorToolbar-{{message.id}}">
                            </div>
                            <div id="{{message.id}}"
                                 data-rcm-html-edit
                                 html-editor-attached-toolbar
                                 html-editor-type="simpleText"
                                 html-editor-size="small"
                                 ng-change="message.dirty = true"
                                 ng-model="message.text"></div>
                        </td>
                        <td style="vertical-align: top">
                            <button ng-class="{invisible: !message.dirty}"
                                    id="button-{{message.id}}"
                                    ng-click="saveText(message)"
                                    class="glyphicon glyphicon-save btn btn-primary"
                                    style="float:right;margin-top:1em">
                                Save
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>
