<div oc-lazy-load="{name: 'rcmLocales', files: ['/modules/rcm-i18n/rcmTranslationsCtrl.js', '/modules/rcm-angular-js/angular-ui/bootstrap/ui-bootstrap-0.11.0.min.js']}">
    <link href="/modules/rcm-i18n/styles.css"
          media="screen"
          rel="stylesheet" type="text/css">
    <div class="rcmI18n">
        <div ng-controller="rcmTranslations" class="modal-dialog">
            <div class="modal-content container-fluid">

                <div class="row modal-header">
                    <div class="col-sm-12">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h1 class="modal-title" id="myModalLabel">Translations</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select class="form-control"
                                    ng-model="selectedLocale"
                                    ng-options="key as value for (key , value) in locales"
                                    ng-change="OpenLocale()"
                                    ng-disabled="loading || rcmHtmlEditorService.toolbarLoading">
                                <option value="">
                                    Please select language
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input ng-model="messageQuery"
                                       ng-disabled="loading || rcmHtmlEditorService.toolbarLoading"
                                       class="form-control"
                                       type="text"
                                       placeholder="search"
                                        />

                                <div class="input-group-addon glyphicon glyphicon-search"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="loadBar">
                            <div>
                                <i class="glyphicon glyphicon-refresh loading"
                                   ng-class="{'active': loading}"></i>
                            </div>
                        </div>
                        <div id="transMesages"
                             ng-hide="loading"
                             class="message-table">

                            <div class="message-row titleTranslations">
                                <div class="message-cell col-1">
                                    Default Message
                                </div>
                                <div class="message-cell col-2">
                                    Translated Message
                                </div>
                            </div>

                            <div class="message-row"
                                 ng-repeat="message in messages | filter:messageQuery">

                                <div class="message-cell col-1 default-text">
                                    {{message.defaultText}}
                                </div>

                                <div class="message-cell col-2">
                                    <div class="translation">
                                        <div class="toolbars"
                                             ng-class="{'editable': message.editable || message.dirty}">
                                                <div class="toolbar-save">
                                                    <button ng-class="{invisible: !message.dirty}"
                                                            id="button-{{message.id}}"
                                                            ng-click="saveText(message)"
                                                            class="btn btn-primary btn-sm">
                                                        <span class="glyphicon glyphicon-save"></span> Save
                                                    </button>
                                                </div>
                                                <div class="toolbar-editor">
                                                    <div id="htmlEditorToolbar-{{message.id}}"></div>
                                                </div>
                                        </div>
                                        <div class="message-editor">
                                            <div>
                                                <i class="glyphicon glyphicon-refresh loading"
                                                   ng-class="{'active': editorsLoading[message.id]}"></i>
                                            </div>
                                            <div class="message"
                                                 ng-hide="editorsLoading[message.id]">
                                                <div class="editor"
                                                     ng-class="{'dirty': message.dirty}"
                                                     ng-show="message.editable"
                                                     id="{{message.id}}"
                                                     rcm-html-edit-on-click="'.editor-link'"
                                                     html-editor-attached-toolbar
                                                     html-editor-type="simpleText"
                                                     html-editor-size="small"
                                                     ng-change="messageChange(message)"
                                                     ng-model="message.text">
                                                </div>
                                                <div class="editor-link"
                                                     ng-class="{'error': !message.text}"
                                                     ng-hide="message.editable"
                                                        >
                                                    <div ng-bind-html="message.textHtml"
                                                         ng-show="message.text"></div>
                                                    <div ng-hide="message.text">TRANSLATION MISSING</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </td>

                                </div>
                            </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>