.rcmI18n .loading {
    display: none;

    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.rcmI18n #transMesages table {
}
.rcmI18n #transMesages .col-default-text {
    padding-top: 14px;
    max-width: 20em;
    //width: 20em;
    width: 35%;
}
.rcmI18n #transMesages .col-messages {
    /*max-width: 20em;*/
    /*width: 20em;*/
    width: 65%;
}
.rcmI18n #transMesages .col-button {
    /*vertical-align: top;*/
    /*max-width: 10em;*/
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* </loader> */
.rcmI18n .loading.active {
    display: inline-block;
    width: auto; /* fix for unknown width elements */
    font-size: 22px;
}

.rcmI18n .rcmHtmlEditorService.toolbarLoading.active {
    display: inline-block;
    width: auto; /* fix for unknown width elements */
    font-size: 22px;
}

.rcmI18n .loadBar div {
    width: 5%;
    margin: 0 auto;
    margin-top: 20px;
}
/* fixes the bug in bootstrap form-control height is different in FF and in Chrome */
@-moz-document url-prefix() {
    .rcmI18n .form-control  {
        height: 20px;
    }
}
/* fixes the bug in bootstrap form-control input is too wide in Firefox, makes search icon disappear  */
@-moz-document url-prefix() {
    .rcmI18n .input-group .form-control  {
    width: 90%;
}
}
.rcmI18n .fixed {
    margin-top: 15px;
    padding: 0 15px 0 15px;
}

.rcmI18n .modal-header.fixed {
    height: 5em;
}

.rcmI18n .invisible {
    visibility: hidden;
}

.rcmI18n .dirty {

}

.rcmI18n .translation {

}

.rcmI18n .translation .toolbars {
    display: none;
}

.rcmI18n .translation .toolbars.editable{
    display: block;
}

.rcmI18n .translation .toolbars .toolbar-save {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.rcmI18n .translation .toolbars .toolbar-save button {
    float: left;
    margin: 0;
}

.rcmI18n .translation .toolbars .toolbar-editor {
    float: right;
    display: inline-block;
    padding: 0 0 0 0;
    width: 80%;
}

.rcmI18n .translation .message {
    width: 100%;
}

.rcmI18n .translation .message .editor {
    border: none;
    padding: 6px 0 6px 0;
    width: 100%;
}

.rcmI18n .translation .message .dirty {
    border: 1px solid #eeeeee;
}


.rcmI18n .titleTranslations {
    background-color: #F5F5F5;
}

.rcmI18n .defaultMes td {
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (max-width:520px) {


    .rcmI18n .responsiveStyle {width: 200px;
        height: 40px;}

}

@media (max-width:500px) {
    .rcmI18n .fixed label {
        float:left;
    }
}
