.loading {
    display: none;

    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* </loader> */
.loading.active {
    display: inline-block;
    width: auto; /* fix for unknown width elements */
    font-size: 22px;
}

.rcmHtmlEditorService.toolbarLoading.active {
    display: inline-block;
    width: auto; /* fix for unknown width elements */
    font-size: 22px;
}

.loadBar div {
    width: 5%;
    margin: 0 auto;
    margin-top: 20px;
}
/* fixes the bug in bootstrap form-control height is different in FF and in Chrome */
@-moz-document url-prefix() {
    .form-control  {
        height: 20px;
    }
}
/* fixes the bug in bootstrap form-control input is too wide in Firefox, makes search icon disappear  */
@-moz-document url-prefix() {
    .input-group .form-control  {
    width: 90%;
}
}
.fixed {
    margin-top: 15px;
    padding: 0 15px 0 15px;
}

.modal-header.fixed {
    height: 5em;
}

.invisible {
    visibility: hidden;
}

.titleTranslations {
    background-color: #F5F5F5;
}

.defaultMes td {
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (max-width:520px) {


    .responsiveStyle {width: 200px;
        height: 40px;}

}

@media (max-width:500px) {
    .fixed label {
        float:left;
    }
}
