.rcmI18n .loading {
    display: none;

    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.rcmI18n form {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.rcmI18n .message-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.rcmI18n .message-row {
    display: table-row;
    width: 100%;
}

.rcmI18n .message-cell {
    border: 1px solid #eeeeee;
    display: table-cell;
    padding: .5em;
}

.rcmI18n .message-cell.col-1 {
    width: 33%;
    word-wrap: break-word;
}

.rcmI18n .message-cell.col-2 {
    width: 67%;
}

.rcmI18n .message-cell .default-text {
    padding-top: 14px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* </loader> */
.rcmI18n .loading.active {
    display: inline-block;
    width: auto; /* fix for unknown width elements */
    font-size: 22px;
}

.rcmI18n .rcmHtmlEditorService.toolbarLoading.active {
    display: inline-block;
    width: auto; /* fix for unknown width elements */
    font-size: 22px;
}

.rcmI18n .loadBar div {
    width: 5%;
    margin: 20px auto 0 auto;
}

.rcmI18n .fixed {
    margin-top: 15px;
    padding: 0 15px 0 15px;
}

.rcmI18n .invisible {
    visibility: hidden;
}

.rcmI18n .dirty {

}

.rcmI18n .translation {

}

.rcmI18n .translation .toolbars {
    display: none;
    width: 100%;
}

.rcmI18n .translation .toolbars.editable{
    display: block;
}

.rcmI18n .translation .toolbars .toolbar-save {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.rcmI18n .translation .toolbars .toolbar-save button {
    float: left;
    margin: 0;
}

.rcmI18n .translation .toolbars .toolbar-editor {
    float: right;
    display: inline-block;
    padding: 0 0 0 0;
    width: 80%;
}

.rcmI18n .translation .message-editor {
    clear: both;
}

.rcmI18n .translation .message .editor {
    border: none;
    padding: 6px 0 6px 0;
    width: 100%;
}

.rcmI18n .translation .message .dirty {
    border: 1px solid #eeeeee;
}


.rcmI18n .titleTranslations {
    background-color: #F5F5F5;
}
