/* Login Page */
.loginLeftColumn {
    width: 230px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 10px;
    float: left;
    border-radius: 15px 0 15px 0;
    border: 1px solid #dddddd;
    behavior: url('/modules/rcm/vendor/pie/PIE.htc');
}

.loginRightColumn {
    width: 369px;
    height: 417px;
    float: right;
}

/* Submit Buttons  */
.submitButton {
    border-width: 1px;
    border-style: solid;
    border-color: #5e5e5e #888 #696969 #888;
    font: 11px/16px 'Lucida Grande', Sans-serif;
    color: #000;
    text-decoration: none;
    padding: 0 8px;
    background: #FCFCFC;
    cursor: default;
    position: relative;
    display: inline-block;
    overflow: hidden;

    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    background: -moz-linear-gradient(center top , #fcfcfc 0%, #f3f3f3 35%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(40%,#f3f3f3), color-stop(100%,#ededed));
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.15), 0 -2px 3px 0px #FFF inset, 0 -10px 0 0 #ededed inset;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.15), 0 -2px 3px 0px #FFF inset, 0 -10px 0 0 #ededed inset;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.15), 0 -2px 3px 0px #FFF inset, 0 -10px 0 0 #ededed inset;
    behavior: url('/modules/rcm/vendor/pie/PIE.htc');
}

.RcmLogin form div:first-child {
    padding: 0;
}

.RcmLogin form div {
    padding: 12px 0;
}