.RcmPortalAnnouncementBox {
    position: relative;
    /*float: left;*/
    /*padding-right: 19px;*/
}
.RcmPortalAnnouncementBox:last-of-type {
    position: relative;
    float: left;
    padding-right: 0px;
}

.RcmPortalAnnouncementBox div {
    margin:0;
    width: 208px;
    position: relative;
    border: 1px solid #CCC;
    /* border-radius: 15px 0 15px 0; */
    padding: 0px;
    overflow: hidden;
    background-color: white;
}
.RcmPortalAnnouncementBox div .bg {
    position: absolute;
    bottom: 0;
    right: 0;
    /* border-bottom-right-radius: 15px; */
}

.RcmPortalAnnouncementBox div h1 {
    padding-bottom: 6px;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
}

.RcmPortalAnnouncementBox div h1 a {
    font-weight: bold;
    font-size: 16px;
    color: #00A3E6;
}

.RcmPortalAnnouncementBox div h2 {
    line-height: 18px;
    margin-bottom: 5;
    z-index: 1;
    position: relative;
}

.RcmPortalAnnouncementBox div h2 a {
    color: #8DC63F;
    font-weight: bold;
    font-size: 13px;
}

.RcmPortalAnnouncementBox div p{
    margin: 0px;
    width: 200px;
    z-index: 1;
    position: relative;
}

.RcmPortalAnnouncementBox a {
    text-decoration: none;
}
.RcmPortalAnnouncementBox div .top {
    background: #f8971d;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 208px;
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 20px 20px 0px 0px;
}
.RcmPortalAnnouncementBox div .bottom {
    background: #ffffff;
    width: 200px;
    position: relative;
    line-height: 18px;
    text-align: left;
    margin: 5px;
    border: hidden;
}

div .containerbox {
    background: #fff;
    margin: 0 auto;
    width: 206px;
    height: 200px;
    padding: 0px;
    text-align: center;

    /* border-radius */
    -moz-border-radius: 0px 0px 0px 20px;
    -webkit-border-radius: 0px 0px 0px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;

    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; */
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}