/*div.RcmCallToActionBox{
    width: 194px;
    height: 107px;
}

.RcmCallToActionBox .rcmPluginContainer{
    position: relative;
    border: 1px solid #CCC;
    border-radius: 15px 0 15px 0;
    padding: 10px;
}*/

.rcmContainer .RcmCallToActionBox {
    position: relative;
    width: 194px;
    height: 107px;
    border: 1px solid #CCC;
    border-radius: 15px 0 15px 0;
    padding: 10px;
}

.RcmCallToActionBox div .bg {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 15px;
}

.RcmCallToActionBox div h1 {
    padding-bottom: 6px;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
}

.RcmCallToActionBox div h1 a {
    font-weight: bold;
    font-size: 16px;
    color: #00A3E6;
}

.RcmCallToActionBox div h2 {
    line-height: 18px;
    margin-bottom: 5;
    z-index: 1;
    position: relative;
}

.RcmCallToActionBox div h2 a {
    color: #8DC63F;
    font-weight: bold;
    font-size: 13px;
}

.RcmCallToActionBox div p{
    margin: 0px;
    width: 80px;
    z-index: 1;
    position: relative;
}

.RcmCallToActionBox a {
    text-decoration: none;
}