.rcmContainer .RcmCallToActionBox {
    position: relative;
    width: 194px;
    height: 107px;
    border: 1px solid #CCC;
    border-radius: 15px 0 15px 0;
    padding: 10px;
}

.RcmCallToActionBox img.bg {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 15px;
    z-index: -1;
}

.RcmCallToActionBox div h1 a {
    padding-bottom: 6px;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    color: #00A3E6;
}

.RcmCallToActionBox div h2 a {
    line-height: 18px;
    z-index: 1;
    position: relative;
    color: #8DC63F;
    font-weight: bold;
    font-size: 13px;
}

.RcmCallToActionBox div p {
    margin: 0;
    z-index: 1;
    position: relative;
}

.RcmCallToActionBox a, .RcmCallToActionBox a:hover {
    text-decoration: none;
    color: inherit;
}