.RcmPeopleSlider .person{
    padding:5px;
}
.RcmPeopleSlider .person, .RcmPeopleSlider .person:hover{
    color:black;
}
.RcmPeopleSlider .person:hover{
    background-color: #00A4E4;
}
.RcmPeopleSlider .mainPerson, .RcmPeopleSlider .peopleBorder{
    border: 1px solid #CCC;
    border-radius: 15px 0 15px 0;
    padding:5px;
    overflow:hidden;
}

.RcmPeopleSlider .largeImage, .RcmPeopleSlider .longDesc{
    float:right;
}

.RcmPeopleSlider .peopleAperture{
    float: left;
}

.RcmPeopleSlider .leftArrow {
    height: 100%;
    width: 20px;
    padding-left: 5px;
    float: left;
    background: url('/modules/rcm-people-slider/left-arrow.gif');
    background-position: center;
    background-repeat: no-repeat;
}

.RcmPeopleSlider .rightArrow {
    height: 100%;
    float: right;
    width: 20px;
    padding-left: 5px;
    background-image: url('/modules/rcm-people-slider/right-arrow.gif');
    background-position: center;
    background-repeat: no-repeat;
}