/* To help with responsive design */
.mce-tinymce {
    position: relative!important;
    width: 100%!important;
}

.mce-toolbar-grp {
    float: left!important;
    width: 100%!important;
}

.mce-container {
    float: left!important;
}

.mce-btn-group {
    float: left!important;
}

