
/************************************
styles for fetch playlists sample
************************************/
.playlist-item {
    border: 1px solid #CCC;
    padding: 2px;
    font-size: x-small;
    cursor: pointer;
    background-color: #fbfcfe;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfcfe), to(#dedfe1));
    background-image: -webkit-linear-gradient(top, #fbfcfe, #dedfe1);
    background-image: -moz-linear-gradient(top, #fbfcfe, #dedfe1);
    background-image: -o-linear-gradient(top, #fbfcfe, #dedfe1);
    background-image: -ms-linear-gradient(top, #fbfcfe, #dedfe1);
    background-image: linear-gradient(top, #fbfcfe, #dedfe1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fbfcfe', EndColorStr='#dedfe1');
}
.playlist-item-selected {
    color: #F5F5F5;
    background-color: #8e9090;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8e9090), to(#5c5c5d));
    background-image: -webkit-linear-gradient(top, #8e9090, #5c5c5d);
    background-image: -moz-linear-gradient(top, #8e9090, #5c5c5d);
    background-image: -o-linear-gradient(top, #8e9090, #5c5c5d);
    background-image: -ms-linear-gradient(top, #8e9090, #5c5c5d);
    background-image: linear-gradient(top, #8e9090, #5c5c5d);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#8e9090', EndColorStr='#5c5c5d');
}
.playlist-item h6, .playlist-item p {
    margin: 0;
}
.playlist-item img {
    float:left;
    clear:left;
    margin-right: 5px;
    width: 72;
    height: 40;
}
.playlist-btn {
    margin: 0;
    padding: 4px 30px 1px 30px;
    font-size: x-small;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: rgba(0,0,0,1);
    font-size: small;
    border: 1px solid rgba(154,154,154,1);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-image: rgba(235,235,235,1);
    background-image: -webkit-linear-gradient(top, #fffefe 0%,#efefef 50%,#e7e7e7 50%,#eeeeee 100%);
    background-image: -moz-linear-gradient(top, #fffefe 0%,#efefef 50%,#e7e7e7 50%,#eeeeee 100%);
    background-image: -o-linear-gradient(top, #fffefe 0%,#efefef 50%,#e7e7e7 50%,#eeeeee 100%);
    background-image: linear-gradient(top, #fffefe 0%,#efefef 50%,#e7e7e7 50%,#eeeeee 100%);
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 1px 0px 0px, inset rgba(255,255,255,0.4) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0px 1px 0px 0px, inset rgba(255,255,255,0.4) 0px 1px 2px 0px;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 0px 0px, inset rgba(255,255,255,0.4) 0px 1px 2px 0px;
}
.playlist-btn-selected {
    margin: 0;
    padding: 4px 30px 1px 30px;
    font-size: small;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: rgba(245,245,245,1);
    border: 1px solid rgba(154,154,154,1);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #575758;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#575758), to(#7f8081));
    background-image: -webkit-linear-gradient(top, #575758, #7f8081);
    background-image: -moz-linear-gradient(top, #575758, #7f8081);
    background-image: -o-linear-gradient(top, #575758, #7f8081);
    background-image: -ms-linear-gradient(top, #575758, #7f8081);
    background-image: linear-gradient(top, #575758, #7f8081);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#575758', EndColorStr='#7f8081');
}
#BCL_playlistSelector {
    margin-bottom: 0px;
    margin-left: 475px;
    margin-right: 0px;
    width: 260px;
    text-align: right;
}
#playlist_player {
    float: left;
}
#BCL_playlist {
    height: 270px;
    width: 260px;
    overflow: scroll;
}