.RcmBrightcovePlayer{
    display: block;
    float: none !important;
    clear: both;
}

.RcmBrightcovePlayer #sortable1, .RcmBrightcovePlayer #sortable2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 20px;
    background: #D8D4D4;
    padding: 5px;
    width: 222px;
    min-height: 20px;
}

.RcmBrightcovePlayer #sortable1 li, .RcmBrightcovePlayer #sortable2 li {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    width: 200px;
}

.RcmBrightcovePlayer #sortable1 {
    height: 300px;
    width: 235px;
    overflow-y: scroll;
}

.RcmBrightcovePlayer #tabs {
    width: 683px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.RcmBrightcovePlayer .video {
    margin: 5px;
}

.RcmBrightcovePlayer .video span {
    height: 100%;
}

.RcmBrightcovePlayer .video object {
    height: 100%;
}

.RcmBrightcovePlayer .videoArea {
    display: block;
    float: left;
    width: 200px;
    height: 150px;
}

.RcmBrightcovePlayer .title p {
    /*text-overflow: ellipsis;*/
    width: 150px;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-decoration: none;
}

.RcmBrightcovePlayer .description p {
    text-overflow: ellipsis;
    width: 150px;
    height: 35px;
    white-space: inherit;
    overflow: hidden;
    text-decoration: none;
}

.RcmBrightcovePlayer a {
    text-decoration: none;
}

.RcmBrightcovePlayer .videoAreaWrap {
    overflow: hidden;
}
.RcmBrightcovePlayer .nav-tabs {
    background-color: #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 0px solid #dddddd;
    border-radius: 4px 4px 0 0;
    padding: .3em .5em 0 .5em;
}
.RcmBrightcovePlayer ul {
    margin-left:0px;
}
.RcmBrightcovePlayer .nav-tabs > li > a,
.RcmBrightcovePlayer .nav-tabs > li > a:hover,
.RcmBrightcovePlayer .nav-tabs > li > a:focus {
    background-color: #eeeeee;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 0px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
    cursor: default;
}

.RcmBrightcovePlayer .nav-tabs > li.active > a,
.RcmBrightcovePlayer .nav-tabs > li.active > a:hover,
.RcmBrightcovePlayer .nav-tabs > li.active > a:focus {
    background-color: #ffffff;
    border-bottom: 0px solid transparent;
}
.RcmBrightcovePlayer .tab-content {

    padding-top: 20px;
    padding-left: 80px;
    overflow: hidden;
}
.RcmBrightcovePlayer .nav-tabs > li {
    margin-bottom: -5px;
}