
.RcmBrightcovePlayer .videoItem {
    text-align: center;
}

.RcmBrightcovePlayer .videoItem img {
    max-width: 93% !important;
}

.RcmBrightcovePlayer .videoTitle p {
    display: block;
    margin: 0.5em 0 3em 0;
    font-size: 10px;
    font-weight: bold;
}

.RcmBrightcovePlayer .tab-content {
    margin: 1em;
}

@media (max-width: 767px) {
    .RcmBrightcovePlayer .videoItem:nth-of-type(2n+1) {
        clear: both;
    }
}

@media (min-width: 768px) {
    .RcmBrightcovePlayer .videoItem:nth-of-type(4n+1) {
        clear: both;
    }
}


.RcmBrightcovePlayer .video {
    position: relative;
    height: 0;
}

.RcmBrightcovePlayer .BrightcoveExperience {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.RcmBrightcovePlayer .placeholder {
    background-color: #000000;
    color: #CCCCCC;
    position: absolute;
    width: 100%;
    min-height: 5em;
}