<div class="rcmAdminManageSites">
    <link href="/modules/rcm-admin/css/manage-sites.css"
          media="screen"
          rel="stylesheet" type="text/css">
    <div ng-controller="rcmManageSitesController">
        <div class="loading" ng-show="loading">Loading...</div>
        <div class="alert alert-warning" ng-show="message">
            <div>{{message}}</div>
        </div>
        <table class="table panel panel-default" ng-hide="loading">
            <tr>
                <th style="font-weight: bold;">Site Id</th>
                <th style="font-weight: bold;">Primary Domain</th>
            </tr>
            <tr ng-repeat="site in sites track by $index">
                <td style="vertical-align: top; padding-left: 25px;">{{site.siteId}}</td>
                <td style="vertical-align: top;"><h2>{{site.domain}}</h2></td>
                <td style="vertical-align: top;" ng-show="loadings[site.siteId]">
                    <div>Loading...</div>
                </td>
                <td style="vertical-align: top;" ng-hide="loadings[site.siteId]">
                    <div class="siteOptions" ng-hide="tempSites[site.siteId]">
                        <button ng-show="site.siteId == currentSiteId"
                                ng-click="disableSite(site)"
                                class="btn btn btn-danger btn-sm"
                                disabled="disabled">
                            <span style="color:#000000;">Disable Site</span>
                        </button>
                        <button ng-show="site.status == 'A'  && site.siteId != currentSiteId"
                                ng-click="disableSite(site)"
                                class="btn btn btn-danger btn-sm">
                            <span style="color:#ffffff;">Disable Site</span>
                        </button>
                        <button ng-show="site.status == 'D'"
                                ng-click="disableSite(site)"
                                class="btn btn btn-primary btn-sm">
                            <span style="color:#ffffff;">Enable Site&nbsp;</span>
                        </button>
                        <button ng-click="showClone(site)"
                                class="btn btn-info btn-sm">
                            <span style="color:#ffffff;">Duplicate Site</span>
                        </button>
                    </div>
                    <div class="siteDuplicateOptions"
                         ng-show="tempSites[site.siteId] && !tempSites[site.siteId].message">
                        <h2>
                            Duplicate Site
                        </h2>

                        <div>
                            <form>
                                <label for="newDomain">
                                    <div>Enter new domain</div>
                                    <input type="text"
                                           id="newDomain"
                                           ng-model="tempSites[site.siteId].domain"
                                           required="required"
                                           ng-required="true">
                                </label>
                            </form>
                        </div>

                        <div class="buttons">
                            <button ng-click="cloneSite(tempSites[site.siteId])"
                                    class="btn btn-primary btn-sm">
                                <span style="color:#ffffff;">Duplicate Site</span>
                            </button>
                            <button ng-click="hideClone(site)"
                                    class="btn btn-info btn-sm">
                                <span style="color:#ffffff;">Cancel</span>
                            </button>
                        </div>
                    </div>
                    <div class="siteDuplicateOptions"
                         ng-show="tempSites[site.siteId].message">
                        <div ng-show="tempSites[site.siteId].code > 0">
                            <div class="alert alert-warning">
                                <div>Error: {{tempSites[site.siteId].message}}</div>
                            </div>
                            <div class="buttons">
                                <button ng-click="hideClone(site)"
                                        class="btn btn-info btn-sm">
                                    <span style="color:#ffffff;">Ok</span>
                                </button>
                            </div>
                        </div>
                        <div ng-show="tempSites[site.siteId].code == 0">
                            <div class="alert alert-success">
                                <div>{{tempSites[site.siteId].message}}</div>
                            </div>
                            <div class="buttons">
                                <button ng-click="hideCloneComplete(site)"
                                        class="btn btn-info btn-sm">
                                    <span style="color:#ffffff;">Ok</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>