<link href="/modules/rcm-admin/css/manage-sites.css"
      media="screen"
      rel="stylesheet" type="text/css">
<div ng-controller="rcmManageSites">
    <table class="table panel panel-default">
        <tr>
            <th>Site Id</th>
            <th>Primary Domain
            <th></th>
        </tr>
        <tr style="vertical-align: middle;" ng-repeat="site in sites track by $index">
            <td>{{site.siteId}}</td>
            <td>{{site.domain}}</td>
            <td>
                <button ng-show="site.active == 'A'"
                        ng-click="disableSite(site)"
                        class="btn btn btn-danger btn-sm">
                    <div style="color:#ffffff;">Disable Site</div>
                </button>
                <button ng-show="site.active == 'D'"
                        ng-click="disableSite(site)"
                        class="btn btn btn-primary btn-sm">
                    <div style="color:#ffffff;">Enable Site</div>
                </button>
            </td>
        </tr>
    </table>
</div>